@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Fondo general */
ion-content {
  --background: url('/src/assets/background.gif') no-repeat center center/cover;
  background-color: black;
  height: 100vh;
  padding: 0;
}

ion-content::part(scroll) {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centramos el texto */
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Header styles */
.header h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 0;
  color: black;
}

/* Buttons container */
.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Imagen como fondo en los botones con borde negro y bordes redondeados */
.custom-button {
  width: 200px;
  margin: 10px auto;
  
  /* Imagen de fondo */
  --background: none; 
  background-image: url('/src/assets/button.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Oscurecer la imagen */
  filter: brightness(0.9);
  
  /* Borde negro y bordes redondeados */
  border: 3px solid black;
  border-radius: 20px;
  overflow: hidden;

  /* Estilo del texto */
  font-family: 'Press Start 2P', cursive;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Ajuste para el botón con borde (outline) */
ion-button[fill="outline"].custom-button {
  --border: 3px solid black;
}

/* Icono de ajustes */
#settings {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header h1 {
    font-size: 2rem;
  }

  .custom-button {
    width: 150px;
    font-size: 0.8rem;
  }

  #settings {
    font-size: 20px;
    color: black;
  }
}

/* ---------------------------------------------------------------- */
/* Transition Styles */

/* Bounce transition for the header (slide in from bottom with bounce) */
.bounce-enter-active {
    animation: bounceInUp 1s ease-out forwards;
  }
  .bounce-enter-from {
    opacity: 0;
    transform: translateY(100%);
  }
  .bounce-enter-to {
    opacity: 1;
    transform: translateY(0);
  }
  
  @keyframes bounceInUp {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    60% {
      opacity: 1;
      transform: translateY(-10%);
    }
    80% {
      transform: translateY(5%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Flash transition for the buttons (appear instantly with a flash effect) */
  .flash-enter-active {
    animation: flashIn 0.5s ease-out forwards;
    
  }
  
  .flash-enter-from {
    opacity: 0;
  }
  
  .flash-enter-to {
    opacity: 1;
  }
  
  @keyframes flashIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }