body{
    margin: 0;
    background-color: black;
    display: flex;
}
.first{
    font-size: 0;

    width: 50vw;
    height: 100vh;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50vw;
}

button{
    padding: 0;
    margin: 0;

    border: 0;

    transition: 150ms ease;

    height: 100vh;
    width: 12vw;
}
button:active{
    scale: 0.98;
    border-radius: 5px;
}
#help {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;

    width: 20rem;
    height: 20rem;
    border-radius: 10%;
    
    color: white;
    background-color: mediumseagreen;
}
#red {
    background-color: #f44336;
}
#red:hover {
    background-color: #e53935;
   }
#red:active {
    background-color: #d32f2f;
}
#blue{
    background-color: #2196f3;
}
#blue:hover{
    background-color: #1e88e5;
}
#blue:active {
    background-color: #0288d1;
}
#black{
    background-color: #607d8b;
}
#black:hover{
    background-color: #546e7a;
}
#black:active {
    background-color: #455a64;
}
#green{
    background-color: #8bc34a;
}
#green:hover{
    background-color: #7cb342;
}
#green:active {
    background-color: #689f38;
}